<div class="chat-interface">
  <div class="chat-interface-head">
    <div class="user-profile">
      <img src="<%= friend.friend_image %>" />
    </div>
    <div class="friend-details">
      <div class="name"><%= friend.name %></div>
      <div class="last-message"><%= friend.last_message %></div>
    </div>
  </div>

  <div class="chat-interface-body msger-chat">

    <% chats = [{
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 2',
        'time': 'hh:mm',
        'message': 'Message 2',
        'position': 'left-msg',
        'image': '/images/female_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 2',
        'time': 'hh:mm',
        'message': 'Message 2',
        'position': 'left-msg',
        'image': '/images/female_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 2',
        'time': 'hh:mm',
        'message': 'Message 2',
        'position': 'left-msg',
        'image': '/images/female_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 2',
        'time': 'hh:mm',
        'message': 'Message 2',
        'position': 'left-msg',
        'image': '/images/female_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    },
    {
        'name': 'Friend 2',
        'time': 'hh:mm',
        'message': 'Message 2',
        'position': 'left-msg',
        'image': '/images/female_avatar.png',
    },
    {
        'name': 'Friend 1',
        'time': 'hh:mm',
        'message': 'Message 1',
        'position': 'right-msg',
        'image': '/images/male_avatar.png',
    }] %>

    <% chats.forEach(function(chat){ %>
        <%- include('chatMessage', {chat: chat}); %>
    <% }); %>

  </div>
  <form class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</div>
