<li class="friend-list">
    <div class="friend-chat-head">
        <div class="user-profile">
            <img src="<%= friend.profile_image %>">
        </div>
        <div class="details">
            <div class="name">
                <%= friend.username %>
            </div>
            <div class="last-message">
                <%= friend.last_message %>
            </div>
        </div>
        <div class="other-details">
            <div class="last-message-date">
                <%= friend.last_message_date %>
            </div>
        </div>
    </div>
</li>