<div class="chat-header">
    <div class="left-head">
        <div class="user-profile" data-uuid="<%= userDetails.uuid %>">
            <img src="<%= userDetails.profile_image %>">
            <p><%= userDetails.username %></p>
        </div>
    </div>
    <div class="right-head">
        <p><%= appData.name %></p>
    </div>
    <i id="file-upload" class="fa fa-sign-out-alt signout" aria-hidden="true" style="font-size: 25px;padding: 10px;display: flex;
        align-self: center;"></i>
</div>