<div class="chat-header">
    <div class="left-head">
        <div class="user-profile">
            <img src="/images/male_avatar.png">
            <p><%= name %></p>
        </div>
    </div>
    <div class="right-head">
        <p><%= app %></p>
    </div>
</div>