<div class="chat-header">
    <div class="left-head">
        <div class="user-profile">
            <img src="<%= userDetails.profile_image %>"">
            <p><%= userDetails.username %></p>
        </div>
    </div>
    <div class="right-head">
        <p><%= appData.name %></p>
    </div>
</div>