<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
<div class="geek-combat chat-app">
    <div class="left-wrap">
        <% friends = [
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            ,
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            ,
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            ,
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            ,
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
            ,
            {
                "name": "Friend 1",
                "last_message": "Message",
                "friend_image": "/images/male_avatar.png",
                "last_message_date": "dd/mm/yyyy",
            },
        ]; %>
        <%- include('./partials/header', {app: 'Geek Combat', name: 'My Name'}); %>
        <%- include('./partials/friendList', {friends: friends}); %>
    </div>
    <div class="right-wrap">
        <%- include('./partials/chatInterface', {friend: {
            "name": "Friend 1",
            "friend_image": "/images/male_avatar.png",
        }}); %>
    </div>
</div>
</body>
</html>