*,
::before,
::after {
  padding: 0;
  border: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.chat-app {
  display: flex;
  width: 100wh;
  height: 100vh;
}

.left-wrap {
  width: 35%;
  height: 100%;
  min-width: 350px;
  border-right: 2px solid lavender;
}

.right-wrap {
  width: 65%;
  height: 100%;
  min-width: calc(100wh - 350px);
}

.chat-header {
  display: flex;
  height: 80px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
  border-right: 1px solid grey;
}

.chat-header .left-head {
  margin-left: 10px;
}

.chat-header .right-head {
  margin-right: 10px;
}

.chat-header .right-head p {
  font-size: 20px;
}

.chat-header .left-head p {
  text-transform: capitalize;
}

.user-profile img {
  height: 50px;
  border-radius: 50%;
}

.user-profile {
  text-align: center;
}

.friend-wrapper {
  overflow: scroll;
  overflow-x: hidden;
  max-height: calc(100% - 80px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.friend-wrapper::-webkit-scrollbar {
  display: none;
}

.friend-list {
  border-right: 2px solid lavender;
}

.friend-chat-head {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 2px solid lavender;
}

.friend-chat-head .details {
  margin-left: 20px;
}

.friend-chat-head .details .name {
  margin-bottom: 3px;
}

.friend-chat-head .other-details {
  margin-left: auto;
}

.chat-interface-head {
  background-color: #ededed;
}

.chat-interface-head {
  align-items: center;
  padding: 13px;
  display: flex;
}

.chat-interface-head .friend-details {
  margin-left: 15px;
  font-size: 22px;
}

.friend-chat-head .name,
.chat-interface-head .friend-details .name {
  text-transform: capitalize;
}
.msger-chat {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
  height: calc(100vh - 160px);
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #579ffb;
}

.msg-text {
  word-wrap: break-word;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  background: #ececec;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px !important;
  border-top: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  position: relative !important;
  bottom: -19px !important;
}
.msger-input {
  flex: 1;
  background: #ddd;
  padding: 12px;
  height: 45px;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.custom-file-container {
  position: absolute;
  right: 0;
  bottom: 60px;
  width: 65%;
  min-width: calc(100wh - 350px);
  margin-bottom: 0px;
  display: none;
}

.custom-file-container__image-multi-preview {
  margin: 15px 15px;
  width: 29%;
  height: 220px;
  background-size: contain;
  background-position: 50% 20%;
}

.custom-file-container__image-preview {
  margin-bottom: 0px;
}

.speech_to_text {
  position: relative;
  width: 100%;
  display: none;
}

.results {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 170px;
  background: #d8d2d2;
  width: 55%;
  top: 100px;
  margin-left: 65px;
  border-radius: 20px;
}

#final_span {
  outline: none;
  color: black;
  line-height: 20px;
  font-size: 16px;
}

#interim_span {
  color: gray;
}

#stt-controls {
  position: absolute;
  top: 80%;
  right: 19px;
}

.stt-close-btn {
  top: -145px;
  position: absolute;
  right: 0px;
}

.highlight {
  font-weight: bolder;
}

.wrapper {
  justify-content: center;
  align-items: center;
  border: 2px solid lavender;
  border-right: 1px solid;
  padding: 5px;
}
.wrapper .container-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 617px;
  width: 100%;
  box-sizing: border-box;
}
.wrapper .container-search .container-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper .container-search .container-input .search-term {
  max-width: 585px;
  width: 100%;
  background-color: white;
  border: 2px solid #b3b3c5;
  border-right: none;
  padding: 5px 5px 5px 25px;
  height: 39px;
  border-radius: 50px 0 0 50px;
  outline: none;
  -webkit-appearance: none;
  font-size: 20px;
}
.wrapper .container-search .container-input .search-button {
  width: 70px;
  height: 39px;
  background: white;
  text-align: center;
  color: #b3b3c5;
  border-radius: 0 50px 50px 0;
  border: 2px solid #b3b3c5;
  cursor: pointer;
  font-size: 20px;
  border-left: none;
  outline: none;
}

.emoji-picker-icon {
  cursor: pointer;
  position: relative;
  right: 35px;
  top: 10px;
  font-size: 25px;
}

.emoji-menu .emoji-items-wrap {
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.emoji-menu {
  right: 130px;
  bottom: 75px;
}

.emoji-items-wrap::-webkit-scrollbar {
  display: none;
}

#file-upload {
  margin-left: -20px;
}