 <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="geek-combat chat-app">
      <div class="left-wrap">
        <% friends = data.online_users %>
        <%- include('../partials/header', {appData: appData, userDetails: data.userDetails}); %>
        <%- include('../partials/friendList', {friends: friends}); %>
      </div>
      <div class="right-wrap">
        <%- include('../partials/chatInterface', {friend: {friends}, chats: []}); %>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var socket = io({ transports: ["websocket"], upgrade: false });
    socket.emit("client_joined", { uuid: $(".user-profile").data("uuid") });
    var debounceRefreshFriendListTimeout = null;
    var debounceRefreshFriendList = function (socket_data) {
      var refreshFriendList = function (socket_data) {
        $.ajax({
          type: "POST",
          url: "/refresh-friend-list",
          success: function (data) {
            $(".left-wrap .friend-wrapper").replaceWith(data.html);
          },
          error: function (error) {
            console.log(error);
          },
        });
      };

      clearTimeout(debounceRefreshFriendListTimeout);
      debounceRefreshFriendListTimeout = setTimeout(refreshFriendList, 3000);
    };

    var refreshMessageList = function () {
      $.ajax({
        type: "POST",
        url: "/refresh-message-list",
        headers: {
          "content-type": "application/json",
        },
        data: JSON.stringify({
          data: {
            friendDetails: {
              uuid: $(".friend-details").data("uuid"),
            },
            selfDetails: {
              uuid: $(".user-profile").data("uuid"),
            },
          }
        }),
        dataType: 'json',
        success: function (data1) {
          $(".chat-interface-body").replaceWith(data1.html);
        },
        error: function (error) {
          console.log(error);
        },
      });
    };

    var sendMessage = function (data) {
        $.ajax({
          type: "POST",
          url: "/refresh-friend-chat",
          headers: {
            "content-type": "application/json",
          },
          data: JSON.stringify(data),
          dataType: 'json',
          success: function (data) {
            $(".right-wrap").html(data.html);
          },
          error: function (error) {
            console.log(error);
          },
        });
      };

    socket.on("client_connected", debounceRefreshFriendList);
    socket.on('client_connected', refreshMessageList);
    socket.on('trigger_message', refreshMessageList)
    socket.on("client_disconnected", debounceRefreshFriendList);

    $(document).on("click", "li.friend-list", function (evt) {
      sendMessage({
        data: {
          friendDetails: {
            uuid: $($(evt.target).parents("li.friend-list:first")).data("uuid"),
          },
          selfDetails: {
            uuid: $(".user-profile").data("uuid"),
          }
        }
      })
    });

    $(document).on("click", ".msger-send-btn", function (evt) {
      evt.preventDefault()
      socket.emit('send_message', {
        data: {
          friendDetails: {
            uuid: $(".friend-details").data("uuid"),
          },
          selfDetails: {
            uuid: $(".user-profile").data("uuid"),
          },
          msgDetails: {
            messageType: "text",
            message: $('.msger-input').val(),
          }
        }
      })
      $('.msger-input').val('')
    })

  </script>
</html>
