<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/file-upload-with-preview.min.css"/>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="geek-combat chat-app">
      <div class="left-wrap">
        <% friends = data.online_users %> <%- include('../partials/header',
        {appData: appData, userDetails: data.userDetails}); %> <%-
        include('../partials/friendList', {friends: friends, onlineUsers: data.online_users}); %>
      </div>
      <div class="right-wrap">
        <%- include('../partials/chatInterface', {friend: {friends}, chats:
        []}); %>
      </div>
    </div>
    <form id="entry-form" style="display:none" method="post" enctype="multipart/form-data"></form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</html>
