<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="geek-combat chat-app">
      <div class="left-wrap">
        <% friends = data.online_users %>
        <%- include('../partials/header', {appData: appData, userDetails: data.userDetails}); %>
        <%- include('../partials/friendList', {friends: friends}); %>
      </div>
      <div class="right-wrap">
        <%- include('../partials/chatInterface', {friend: {friends}, chats: []}); %>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"
  ></script>
  <script>
    var socket = io();

    var debounceRefreshFriendListTimeout = null;
    var debounceRefreshFriendList = function () {

      var refreshFriendList = function (socket) {
        $.ajax({
          type: "POST",
          url: "/refresh-friend-list",
          success: function (data) {
            $(".left-wrap .friend-wrapper").replaceWith(data.html);
          },
          error: function (error) {
            console.log(error);
          },
        });
      };

      clearTimeout(debounceRefreshFriendListTimeout);
      debounceRefreshFriendListTimeout = setTimeout(refreshFriendList, 3000);
    };

    var debounceRefreshMessageTimeout = null;
    var debounceRefreshMessage = function () {

      var refreshMessageList = function (socket) {
        $.ajax({
          type: "POST",
          url: "/refresh-message-list",
          success: function (data1) {
              console.log(data1)
            $(".chat-interface-body").replaceWith(data1.html);
          },
          error: function (error) {
            console.log(error);
          },
        });
      };

      clearTimeout(debounceRefreshMessageTimeout);
      debounceRefreshMessageTimeout = setTimeout(refreshMessageList, 3000);
    };

    socket.on("client_connected", debounceRefreshFriendList);
    socket.on('client_connected', debounceRefreshMessage);
    socket.on("client_disconnected", debounceRefreshFriendList);
  </script>
</html>
